@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import './reset.css';

:root {
  --clay: #995F49;
  --stone: #F5EFED;
  --sand: #CCAFA4;
  --graphite: #242723;
  --base-unit: 4px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: calc(var(--base-unit) * 4);

  letter-spacing: .5px;
  line-height: 1.2rem;
  color: var(--graphite);
  background-color: var(--stone);
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: calc(var(--base-unit) * 8);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  margin: auto;
  max-width: 70ch;
}

a {
  color: var(--clay);
}

img {
  width: 100%;
}


/* Utility Classes */
.visuallyHidden {
  display: none;
}


/* MUI Overrides - Remove when switching component library */
span {
    font-weight: 300 !important;
}
