@import './styles/index.css';

.app {
  max-width: 1300px;
  margin: auto;
}

.wrapper {
  /* Update when sorting/filtering is complete */
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: calc(var(--base-unit) * 7);
  margin-top: calc(var(--base-unit) * 20);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  object-fit: cover;
  gap: calc(var(--base-unit) * 5);

  text-align: center;
}

.card {
  list-style-type: none;
  position: relative;
  border: 1px solid var(--clay);
  outline: 2px solid transparent;
  outline-offset: 1px;
  transition: outline-color 0.2s ease;
}

.card:focus,
.card:hover {
  outline-color: var(--clay);
}

.card:hover img {
  transition: opacity 0.2s ease-in-out;
}

.card:hover img {
  opacity: .8;
}

.link {
  text-decoration: none;
}

.intro {
  margin: auto;
  text-align: center;
}

.designer {
  font-size: 13px;
  color: var(--graphite);
}