@import './styles/index.css';

.app {
  max-width: 1400px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--spacing-2);

  background-color: white;
}

.header h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.header h2 a{
  text-decoration: none;
}

.nav ul {
  display: flex;
  padding: 0;
  list-style: none;
  gap: var(--spacing-2);
}

.content {
  padding: 0 var(--spacing-2);
}

.footer {
  max-width: 1400px;
  margin: auto;
  padding: var(--spacing-2);

  background-color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-1);
    padding: 0;
}